<configuration>
    <!--<appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:/elaticstack/logs/tests.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">

        <appender-ref ref="FILE"/>
    </root>
</configuration>